*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure the body takes up the full height */
    background-color: #f0f0f0; /* Optional: background color for the page */
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lorem{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    background-color: #ccc;
    color: black;
    border-radius: 7px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: block;
    justify-content: center;
    align-items: center;
    background-color:#f0f0f0;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.value-para{
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 0.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    background-color: #2a2a2a;
    color: #f0f0f0;
}
.value-word{
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 0.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 30px;
    background-color: #2a2a2a;
    color: #f0f0f0;
}
input[type='range']{
    width: 100%;
    margin-bottom: 1rem;
}
select{
    appearance: none;
    border: 1px solid #2a2a2a;
    width: 100%; 
    border-radius: 7px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
button{
    width: 100%; 
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.output{
    width: 100%;
    min-height: 7rem;
    border: 2px dashed red;
    padding: 1rem; /* Add some internal space for content */
    text-align: center; /* Center the output text */
}


